<div class="section">
	<div class="container">
		<div class="box box-border">
            <h2><%= @job.name %></h2>

            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Plan Name</th>
                    <th>Updated</th>
                    <th>Download File</th>
                    <th class="pull-right">Controls</th>
                </thead>
                <tbody>
                    <% @job.plans.each do |plan|  %>
                        <tr>
                            <td><%= plan.plan_num %></td>
                            <td>
                                <p><%= plan.plan_name.truncate(35) %></p>
                            </td>
                            <td><%= plan.plan_updated_at %></td>
                            <td>
                                <% if plan.plan.exists? %>
                                    <a href="/api/download/<%= plan.id %>"><%= plan.plan_file_name.truncate(35) %></a>
                                <% end %>
                            </td>
                            <td>
                                <ul class="controls pull-right unstyled">
                                    <% if plan.plan.exists? %>
                                        <li><a href="/api/plans/embedded/<%= plan.id %>" target="_blank">View</a></li>
                                    <% end %>
                                </ul>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
