<h2>{{name}} {{#if archived}}(Archived){{/if}}</h2>
<div class="row">
  <div class="col-sm-12">
  <p><a {{ action "back" target="controller" }}>Back to your jobs</a></p>
    {{#unless isShared}}
      {{#if archived}}
          {{#manager}}
              <a href="#" {{action "unarchiveJob"}} class="button button-green">Unarchive</a>
          {{/manager}}
      {{else}}
          {{#manager}}
              <a href="#" {{action "archiveJob"}} class="button button-red">Archive</a>
              <a href="#" {{action "openAddPlanModal"}} class="button button-green">+ Add Plan</a>
              <a href="#" {{action "openSubShareLinkModal"}} class="button button-blue">Share Link</a>
              {{#if subscribed}}
              <a href="#" {{action "unsubscribeJob"}} class="button button-default">Unsubscribe</a>
              {{else}}
              <a href="#" {{action "subscribeJob"}} class="button button-default">Subscribe</a>
              {{/if}}
          {{/manager}}
      {{/if}}
  {{else}}
      {{#can_share_link}}
          <a href="#" {{action "openSubShareLinkModal"}} class="button button-blue">Share Link</a>
      {{/can_share_link}}
  {{/unless}}
    <input placeholder="Search..." class="form-control form-smaller form-control-padding pull-right" style="max-width:250px" id="search-input"/>
    </div>
</div>


<nav id="jobs-nav" class="jobs-controls">
    {{#if canViewPlansTab}}
        {{#if isPlansTab}}
            <a class="active">Plans</a>
        {{else}}
            <a {{action "changeTab" "Plans"}}>Plans</a>
        {{/if}}
    {{/if}}

    {{#if canViewPlansTab}}
        {{#if isAddendumsTab}}
            <a class="active">Addendums</a>
        {{else}}
            <a {{action "changeTab" "Addendums"}}>Addendums</a>
        {{/if}}
    {{/if}}

    {{#if canViewPlansTab}}
        {{#if isASITab}}
            <a class="active">ASI</a>
        {{else}}
            <a {{action "changeTab" "ASI"}}>ASI</a>
        {{/if}}
    {{/if}}

    {{#if canViewShopsTab}}
        {{#if isShopsTab}}
            <a class="active">Shops</a>
        {{else}}
            <a {{action "changeTab" "Shops"}}>Shops</a>
        {{/if}}
    {{/if}}

    {{#if canViewConsultantsTab}}
        {{#if isConsultantsTab}}
            <a class="active">Support</a>
        {{else}}
            <a {{action "changeTab" "Consultants"}}>Support</a>
        {{/if}}
    {{/if}}

    {{#if canViewCalcsTab}}
        {{#if isCalcTab}}
            <a class="active">Calcs & Misc</a>
        {{else}}
            <a {{action "changeTab" "Calcs & Misc"}}>Calcs & Misc</a>
        {{/if}}
    {{/if}}
</nav>
{{outlet}}

<script>
  var readyTableLinks = function(){
    $("#plan-table tbody tr").not(".clickable").off("click");
    $("#plan-table tbody tr").not(".clickable").click(function(e){
      if($(this).hasClass("table-row-button")){
        if (e.target.nodeName.toUpperCase() != "A" && e.target.nodeName.toUpperCase() != "SPAN") { // Make sure normal links still function
          console.log(this.getAttribute("data-link"));
          window.open(this.getAttribute("data-link"), '_blank');
        }
      }
    });
    $("#plan-table tbody tr").not(".clickable").addClass("clickable");
  }

  // When the tree changes, we need to make sure the rows can still be selected
  $("#plan-table").bind("DOMSubtreeModified", function(){

    readyTableLinks();
  });

  $(document).ready(function(){
    readyTableLinks();
  });
</script>
<script>
  function toggleResults(filter){
    jQuery("table tr").not('thead tr').each(function () {
        if (jQuery(this).text().search(new RegExp(filter, "i")) < 0) {
            jQuery(this).hide();
        } else {
            jQuery(this).show()
        }
    });
  }

  $("#search-input").keyup(function () {
      var filter = jQuery(this).val();
      toggleResults(filter);
  });
  $('#jobs-nav').bind('DOMSubtreeModified', function(e) {
      // console.log("Triggered")
      var filter = $("#search-input").val();
      toggleResults(filter);
  });
</script>
