<h2>{{name}} {{#if archived}}(Archived){{/if}}</h2>
<p><a {{ action "back" target="controller" }}>Back to your jobs</a></p>
{{#unless isShared}}
    {{#if archived}}
        {{#manager}}
            <a href="#" {{action "unarchiveJob"}} class="button button-green">Unarchive</a>
        {{/manager}}
    {{else}}
        {{#manager}}
            <a href="#" {{action "archiveJob"}} class="button button-red">Archive</a>
            <a href="#" {{action "openAddPlanModal"}} class="button button-green">+ Add Plan</a>
            <a href="#" {{action "openSubShareLinkModal"}} class="button button-blue">Share Link</a>
        {{/manager}}
    {{/if}}
{{else}}
    {{#can_share_link}}
        <a href="#" {{action "openSubShareLinkModal"}} class="button button-blue">Share Link</a>
    {{/can_share_link}}
{{/unless}}



<nav class="jobs-controls">
    {{#if canViewPlansTab}}
        {{#if isPlansTab}}
            <a class="active">Plans</a>
        {{else}}
            <a {{action "changeTab" "Plans"}}>Plans</a>
        {{/if}}
    {{/if}}

    {{#if canViewShopsTab}}
        {{#if isShopsTab}}
            <a class="active">Shops</a>
        {{else}}
            <a {{action "changeTab" "Shops"}}>Shops</a>
        {{/if}}
    {{/if}}

    {{#if canViewConsultantsTab}}
        {{#if isConsultantsTab}}
            <a class="active">Consultants</a>
        {{else}}
            <a {{action "changeTab" "Consultants"}}>Consultants</a>
        {{/if}}
    {{/if}}

    {{#unless isShared}}
        {{#if isCalcTab}}
            <a class="active">Calcs & Misc</a>
        {{else}}
            <a {{action "changeTab" "Calcs & Misc"}}>Calcs & Misc</a>
        {{/if}}
    {{/unless}}
</nav>

<div class="table-responsive">
  <table class="table table-hover">
  	<thead>
  		<th>#</th>
  		<th>Plan Name</th>
  		<th>Updated</th>
  		<th>Download File</th>
  		<th class="text-right">Controls</th>
  	</thead>
  	<tbody>
  	   {{outlet}}
  	</tbody>
  </table>
</div>
