- document = document || Document.new
- remove_file_display = document.new_record? ? 'none' : 'inline'
- dnd_display = document.new_record? ? 'block' : 'none'

- doc_errors = @plan.errors.messages[:document]

.form-group{ class: doc_errors.nil? ? "" : "has-error" }
  %label Upload a file. (Optional)
  - if !doc_errors.nil?
    %br
    %label.control-label= "Uploaded file #{doc_errors.join(' and ')}"

  %input{ type: "hidden", id: 'single-document-input', name: "document_id", value: document.id }

  %p#single-document-name.bold= document.original_filename
  %p
    %a#single-document-remove-file{ style: "display: #{remove_file_display}" } Remove File
  #single-document-dnd.dropzone{ style: "display: #{dnd_display}" }


:javascript
  Dropzone.autoDiscover = false;
  Dropzone.options.singleDocumentDnd = {
    paramName: "files",
    maxFiles: 1,
    maxFilesize: 20, // MB
    uploadMultiple: false,
    createImageThumbnails: false,
    // Hide the previews.  We'll make our own.
    previewTemplate: '<div style="display:none"></div>',
    dictDefaultMessage: 'Drop files here or click to upload.',
  };

  PlanSource.singleDocumentDropzone = new Dropzone("div#single-document-dnd", {
    url: "/document/upload"
  });

  PlanSource.singleDocumentDropzone.on("sending", function (file, responseData) {
    // TODO set a loading message
    console.log("Uploading...");
  });

  PlanSource.singleDocumentDropzone.on("complete", function (file, responseData) {
    // TODO set a done message
    console.log("Done.");
  });

  PlanSource.singleDocumentDropzone.on("success", function (file, responseData) {
    var returnFiles = responseData.files;
    var firstFile = returnFiles[0];
    var $name = $("#single-document-name");
    var $input = $("#single-document-input");
    var $dnd = $("#single-document-dnd");
    var $removeFile = $("#single-document-remove-file");

    console.log('success');

    if (firstFile) {
      if (firstFile.original_filename !== file.name) return;

      $name.text(firstFile.original_filename);
      $input.val(firstFile.id);
      $dnd.hide();
      $removeFile.show();
    }
  });

  $(document).ready(function () {
    var $name = $("#single-document-name");
    var $input = $("#single-document-input");
    var $dnd = $("#single-document-dnd");
    var $removeFile = $('#single-document-remove-file');

    $removeFile.click(function () {
      PlanSource.singleDocumentDropzone.removeAllFiles();

      $name.text("");
      $input.val("");

      $dnd.show();
      $removeFile.hide();
    });
  });

