%nav
  - if current_user.can? :create, @job.new_plan(@tab)
    %a.button.button-blue.open-modal{ href: "#", data: { "modal-url": new_job_tab_plan_path(@job, @tab) } } Add Plan

.table-responsive{ id: "#{tab}-table" }
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Name
        %th Updated
        %th Download File
        %th.text-right Controls
    %tbody
      - plans.each do |plan|
        %tr
          %td= plan.order_num + 1
          %td.word{ title: plan.name }= plan.name
          %td{ data: { value: plan.updated_at } }= plan.updated_at.strftime("%b %e, %Y")
          %td
            - if current_user.can? :download, plan.document
              = link_to plan.document.original_filename, download_document_path(plan.document.id)
          %td
            %ul.controls.pull-right.unstyled{ style: "padding-left: 0;" }
              - if current_user.can? :read, plan.document
                %li= link_to "View", document_path(plan.document), target: "_blank"
              - if current_user.can? :destroy, plan
                %li= link_to "Delete", "#", class: "open-modal", data: { "modal-url": should_delete_plan_path(plan) }
              - if current_user.can? :update, plan
                %li= link_to "Edit", "#", class: "open-modal", data: { "modal-url": edit_plan_path(plan) }
              - if current_user.can? :read, plan
                %li= link_to "Details", "#", class: "open-modal", data: { "modal-url": plan_path(plan) }
