.table-resonsive{ id: "#{tab}-table" }
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Name
        %th Updated
        %th Download File
        %th.text-right Controls
    %tbody
      - plans.each do |plan|
        %tr
          %td= plan.order_num + 1
          %td.word{ title: plan.name }= plan.name
          %td{ data: { value: plan.updated_at } }= plan.updated_at.strftime("%b %e, %Y")
          %td
            - if plan.plan_file_name
              = link_to plan.plan_file_name, "/api/download/#{plan.id}"
          %td
            %ul.controls.text-right.unstyled{ style: "padding-left: 0;" }
              - if plan.plan_file_name
                %li= link_to "View", "/api/plans/embedded/#{plan.id}", target: "_blank"
              %li= link_to "Delete", "#", class: "open-modal", data: { "modal-url": should_delete_plan_path(plan) }
              %li= link_to "Edit", "#", class: "open-modal", data: { "modal-url": edit_plan_path(plan) }
              %li= link_to "Details", "#", class: "open-modal", data: { "modal-url": edit_plan_path(plan) }
