.section
  .container
    .row
      .col-md-12
        %h2= "#{@job.name} #{@job.is_archived ? '(Archived)' : ''}"
        %p= link_to "Back to your jobs", jobs_path(archived: @job.is_archived || nil)

        %nav
          - if current_user.can? :update, @job
            - if @job.is_archived
              = form_for @job, html: { style: "display: inline" } do |f|
                = hidden_field_tag :success_redirect_url, job_tab_path(@job, @tab)
                = f.hidden_field :is_archived, value: false
                %button.button.button-green{ href: "#", type: 'submit' } Unarchive
            - else
              = form_for @job, html: { style: "display: inline" } do |f|
                = hidden_field_tag :success_redirect_url, job_tab_path(@job, @tab)
                = f.hidden_field :is_archived, value: true
                %button.button.button-red{ href: "#", type: 'submit' } Archive
          - if current_user.can? :share, @job
            %a.button.button-blue{ href: new_job_share_link_path(@job) } Share Link

        %nav.jobs-controls
          = plans_tab_link('plans', @tab)
          = plans_tab_link('addendums', @tab)

          %input#share-search-input.form-control.form-smaller.form-control-padding.pull-right{ style: "max-width: 250px", placeholder: "Search..." }

        - if ['plans', 'addendums'].include? @tab
          = render partial: "plans_section", locals: { tab: @tab, plans: @job.send(@tab) }
