<div class="modal-wrapper">
  <div class="overlay"></div>
  <div class="dialog box box-border" style="width: 850px;">
    <div class="header">
      <p class="title">Select contacts to share with.</p>
    </div>
    <div class="body">
      <div class="control-group">
        <div class="controls">
          {{ view PlanSource.TextField placeholder="share@email.com" focus=true id="contact-email" autocomplete=true }}
          <a class="button button-inline" {{ action "addContact" target="controller" }}>+ Add Contact</a>
          <span class="help-inline"></span>
        </div>
      </div>
      <p>All contacts.  Select the ones to share with.</p>
      <p>
        Sort by:
        <a class="sort-option" {{ action "changeSort" "first_name" }}>First Name</a> |
        <a class="sort-option" {{ action "changeSort" "last_name" }}>Last Name</a> |
        <a class="sort-option" {{ action "changeSort" "sort_email" }}>Email</a> |
        <a class="sort-option" {{ action "changeSort" "company" }}>Company</a>
      </p>

      <div class="scroller-xlarge">
        <table class="table" id="contacts-list">
          {{#each itemController="contact"}}
            <tr>
              <td class="share-box-group">
                <input class="share-box" type="checkbox" data-place="2" data-id="{{unbound id}}" {{unbound isPlansChecked}} >
                P
                <input class="share-box" type="checkbox" data-place="1" data-id="{{unbound id}}" {{unbound isShopsChecked}} >
                S
                <input class="share-box" type="checkbox" data-place="0" data-id="{{unbound id}}" {{unbound isConsultantsChecked}} >
                C
              </td>
              <td>
                {{ unbound first_name }}
              </td>
              <td>{{ unbound last_name}}</td>
              <td>{{ unbound email }}</td>
              <td>{{ unbound company }}</td>
            </tr>
	  {{/each}}
        </table>
      </div>
    </div>
    <div class="footer">
      <div class="buttons">
        <a class="button button-blue" id="contact-share" {{action "shareWithContacts" target=controller}} >Update</a>
        <a class="button" {{action "close" }} >Cancel</a>
      </div>
    </div>
  </div>
</div>
