<div class="modal modal-wrapper">
	<div class="overlay"></div>
	<div class="dialog box box-border">
		<div class="header">
			<p class="title">Edit your plan</p>
		</div>
		<div class="body">
			<div class="control-group">
				<div class="controls">
					<p>Enter a new number and name for this plan.</p>
					{{ view PlanSource.TextField placeholder="#" focus=true id="edit-plan-num" modelAttr="plan_num" class="short" }}
					{{#if belongsToShops}}
					{{ view PlanSource.TextField placeholder="CSI code" focus=false id="edit-plan-csi" modelAttr="csi" }}
					{{/if}}
					{{ view PlanSource.TextField placeholder="Plan name" focus=false id="edit-plan-name" modelAttr="plan_name" class="left"}}
					<div class="help-inline"></div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="buttons">
				<a class="button button-blue" {{action "editPlan" target=controller}} >Change</a>
			</div>
		</div>
		<div class="header">
			<p class="title">Upload a file</p>
		</div>
		<div class="body">
			<p>Select a file to upload.</p>
			<form enctype="multipart/form-data" id="plan_source_upload_form">
				<input type="hidden" name="plan_id" id="plan_id">
				<div class="control-group">
					<div class="controls">
						<span class="help-inline"></span>
						<br>
						<input type="file" name="file" id="file">
					</div>
				</div>
			</form>
		</div>
		<div class="footer">
			<div class="buttons">
				<a class="button" {{action "close"}}>Cancel</a>
				<a class="button button-blue" {{action "uploadPlan"}} >Upload</a>
			</div>
		</div>
		<div class="header">
			<p class="title">Plan History</p>
		</div>
		<div class="body">
			<!-- {{log this}} -->
			{{#each planRecords}}
				<div>
					<a href="/api/plans/embedded/{{unbound this.id}}?type=record" target="_blank">{{this.filename}}</a><span class="pull-right"> changed {{date updated_at }}</span>
				</div>
			{{else}}
				<div>
					This plan has no plan history.
				</div>
			{{/each}}
		</div>
	</div>
</div>