<div class="modal-wrapper">
	<div class="overlay"></div>
	<div class="dialog box box-border">
		<div class="header">
			<p class="title">Enter an email to share with.</p>
		</div>
		<div class="body">
			<p>Enter an email to share {{model.name}} with.</p>
			{{ view PlanSource.TextField placeholder="share@email.com" focus=true id="share-email" }}
			<p>Users that are currently being shared.</p>
			<div class="scroller-medium">
				<table class="table">
					{{#each model.shares itemController="share"}}
						<tr>
							<td>{{user.name}}</td>
							<td>{{user.email}}</td>
							<td><a {{action "deleteShare"}}>Unshare</a></td>
						</tr>
					{{/each}}
				</table>
			</div>
		</div>
		<div class="footer">
			<div class="buttons">
				<a class="button button-blue" {{action "shareJob" target=controller}} >Share</a>
				<a class="button" {{action "close"}}>Cancel</a>
			</div>
		</div>
	</div>
</div>