<% content_for :title, "Edit User" %>
<div class="section">
	<div class="container" style="margin-bottom:30px">
		<h2>Edit User</h2>
                <%= link_to "Delete", user_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn" %>
                <br>
                <br>
		<div class="row">
			<div class="col-sm-4">
				<%= simple_form_for(@user, url: user_path(@user), as: :user, :html => {:class => 'form-vertical' }) do |f| %>
				  <%= f.error_notification %>
				  <%= display_base_errors @user %>
				  <%= f.input :first_name, :autofocus => true, :required => true,:input_html => {:class=>"form-control" } %>
				  <%= f.input :last_name, :required => true,:input_html => {:class=>"form-control" } %>
          <%= f.input :company, :required => true,:input_html => {:class=>"form-control" } %>
				  <%= f.input :email, :required => true,:input_html => {:class=>"form-control" } %>
				  <%= f.input :type, :required => true, as: :select, collection: ["Admin", "Manager", "Viewer"],:input_html => {:class=>"form-control" }%>
				  <%= f.input :can_share_link, :required => true, as: :boolean %>
				  <%= f.input :can_review_submittal, :required => true, as: :boolean %>
				  <%= f.button :submit, "Save Changes", :class => "button button-blue" %>
                  <%= link_to "Cancel", :back %>
				<% end %>

			</div>
		</div>
	</div>
</div>
