<div class="section">
	<div class="container">
		<div class="row">
			<div class="span7">
				<div class="front-market-text">
					<h1>Never Have Outdated Plans!</h1>
					<p>Effortlessly view plans from the jobsite with all of your mobile devices.</p>
				</div>
			</div>
			<div class="span4 offset1">
				<h2>Sign up</h2>
				<%= simple_form_for(@user, url: user_registration_url, html: {class: "form-vertical"}) do |f| %>
				  <%= f.input_field :type, :collection => ["Viewer", "Manager"], :as => :select, selected: 1, :required => true, class: "input-block-level" %>
					<div class="row">
						<div class="span2">
							<%= f.input_field :first_name, placeholder: "First", class: "input-block-level" %>
						</div>
						<div class="span2">
							<%= f.input_field :last_name, placeholder: "Last", class: "input-block-level" %>
						</div>
					</div>
					<%= f.input_field :email, placeholder: "Email", class: "input-block-level" %>
					<%= f.input_field :password, placeholder: "Password", class: "input-block-level" %>
					<%= f.button :submit, "Sign up", class: "btn-primary btn-block btn-large" %>
				<% end %>
				<p class="text-center">Or <%= link_to "Sign In", new_user_session_path %></p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="span10">
				<h2>View files anywhere.<h2>
				<p class="lead">Use your mobile device to view plans.  Once plans are downloaded you don't need internet to view.</p>
			</div>
			<div class="span2">
				<i class="icon-download-alt icon-huge"></i>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="span2">
				<i class="icon-cloud icon-huge"></i>
			</div>
			<div class="span10">
				<h2>Upload all of your plans to the cloud.</h2>
				<p class="lead">There isn't a limit to how many plans you can upload.</p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="span10">
				<h2>Easily share plans.</h2>
				<p class="lead">Flawlessly share plans with other users.  All you need is their email.  We even support resharing!</p>
			</div>
			<div class="span2">
				<i class="icon-share-alt icon-huge"></i>
			</div>
		</div>
	</div>
</div>
<hr>
<!--<div class="section">
	<div class="container">
		<div class="row">
			<div class="span2">
				<i class="icon-print icon-huge"></i>
			</div>
			<div class="span10">
				<h2>Upload all of your plans to the cloud.</h2>
				<p class="lead">There isn't a limit to how many plans you can upload.</p>
			</div>
		</div>
	</div>
</div>
<hr>
!-->