<div class="table-responsive" id="plan-table">
  <table class="table table-hover">
    <thead>
        <th {{action "sort" "plan_num"}}><a>#</a></th>
        {{#if controllers.job.isShopsTab}}
            <th {{action "sort" "csi"}}><a>CSI</a></th>
        {{/if}}
        <th {{action "sort" "plan_name"}}><a>Plan Name</a></th>
        <th {{action "sort" "updated_at"}}><a>Updated</a></th>
        <th {{action "sort" "filename"}}><a>Download File</a></th>
        <th class="text-right">Controls</th>
    </thead>
    <tbody>
        {{#each controller}}
            {{#if hasPlan}}
                {{#if fileIsPDF}}
                    <tr class="table-row-button" data-link="/api/plans/embedded/{{unbound id}}">
                {{else}}
                    <tr>
                {{/if}}
            {{else}}
            <tr>
            {{/if}}
                <td>{{plan_num}}</td>
                {{#if this.belongsToShops}}
                    <td>{{csi}}</td>
                {{/if}}
                <td class="word">
                    <p title="{{unbound plan_name}}">{{plan_name}}</p>
                </td>
                <td>{{date updated_at}}</td>
                <td>
                    <a href="/api/download/{{unbound id}}" title="{{unbound plan_file_name}}">{{truncate plan_file_name}}</a>
                </td>
                <td>
                    <ul class="controls pull-right unstyled">
                        {{#if hasPlan}}
                            {{#if fileIsPDF}}
                                <li><a href="/api/plans/embedded/{{unbound id}}" target="_blank">View</a></li>
                            {{/if}}
                        {{/if}}
                        {{#unless controller.job.isShared}}
                            <li><a {{action "openEditPlanModal" this}} data-id="{{unbound id}}">Edit</a></li>
                            <!-- <li><a {{action "openUploadPlanModal" this}} >Upload</a></li> -->
                            <li><a {{action "openDeletePlanModal" this}}><span class="glyphicon glyphicon-remove"></span></a></li>
                        {{/unless}}
                    </ul>
                </td>
            </tr>
        {{else}}
            <tr>
                <td>
                    {{#manager}}
                        {{#unless job.isShared}}
                            <p>You need to add a plan to your job.</p>
                        {{else}}
                            <p>The owner hasn't added any plans.</p>
                        {{/unless}}
                    {{else}}
                        <p>The owner of this plan has not added any plans.</p>
                    {{/manager}}
                </td>
                <td></td>
                <td>{{plan_num}}</td>
                <td></td>
                        {{#if controllers.job.isShopsTab}}
                        <td></td>
                        {{/if}}
                <td></td>
                <td></td>
            </tr>
        {{/each}}
    </tbody>
  </table>
</div>
