{{#each controller itemController="plan"}}
	<tr>
		<td>
			{{#if isEditing}}
				{{view Ember.TextField valueBinding="planNum" classNames="short"}}
			{{else}}
				{{planNum}}
			{{/if}}
		</td>
		<td>
			{{#if isEditing}}
				{{view Ember.TextField valueBinding="planName"}}
			{{else}}
				{{planName}}
			{{/if}}
		</td>
		<td><a href="/api/download/{{unbound id}}">{{filename}}</a></td>
		<td>
			<ul class="controls pull-right unstyled">
				<li><a {{action "openEditPlanModal" this}}>Edit</a></li>
				<li><a {{action "upload"}} data-id="{{unbound id}}">Upload</a></li>
				<li><a {{action "openDeletePlanModal" this}}>Delete</a></li>
			</ul>
		</td>
	</tr>
	{{else}}
		<tr>
			<td>
				<p>There aren't any plans in this job.</p>
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
{{/each}}
