<% content_for :title, "App" %>
<% content_for :head do %>
	<%= javascript_include_tag "plan_source" %>
<% end %>
<div class="loading">
	<p class="loading-text">Loading... <span class="loading-percent">100</span>%</p>
</div>
<div class="section">
	<div class="container">
		<div id="ember-job-app" class="box box-border"></div>
	</div>
</div>

<iframe class="downloader hidden"></iframe>

<script type="text/javascript">
	user = "<%= current_user.full_name %>";
	user_id = "<%= current_user.id %>";
	PlanSource._user_type = "<%= current_user.type %>"
	PlanSource.page_sizes = <%= Plan.page_sizes.to_json.html_safe %>
</script>