<div class="modal-wrapper">
	<div class="overlay"></div>

  <div class="modal-container" style="max-width: 1300px;">
    <div class="split">
      {{#if getRFI}}
        {{#if getRFI.isNew}}
          {{partial "modals/new_rfi_partial"}}
        {{else}}
          {{partial "modals/rfi_partial"}}
        {{/if}}
      {{else}}
        {{partial "modals/no_rfi_partial"}}
      {{/if}}
    </div>

    <div class="split">
      {{#if getASI}}
        {{#if getASI.isNew}}
          {{partial "modals/new_asi_partial"}}
        {{else}}
          {{partial "modals/asi_partial"}}
        {{/if}}
      {{else}}
        {{partial "modals/no_asi_partial"}}
      {{/if}}
    </div>
  </div>
</div>
