<div class="modal-wrapper">
	<div class="overlay"></div>

  {{#if getASI}}
    <div class="modal-container" style="max-width: 1300px;">
      <div class="split">
        {{#if getRFI}}
          {{partial "modals/rfi_partial"}}
        {{else}}
          {{partial "modals/no_rfi_partial"}}
        {{/if}}
      </div>

      <div class="split">
        {{partial "modals/asi_partial"}}
      </div>
    </div>
  {{else}}
    {{#if isNew}}
      {{partial "modals/new_rfi_partial"}}
    {{else}}
      {{partial "modals/rfi_partial"}}
    {{/if}}
  {{/if}}
</div>
