.modal-wrapper
  .overlay

  .dialog.box.box-border
    - form_url = @plan.new_record? ? job_tab_plans_path(@plan.job_id, @plan.tab) : plan_path

    = form_for @plan, url: form_url do |f|
      .header
        %p.title Enter a plan name.

      .body
        - name_errors = @plan.errors.messages[:name]
        .form-group{ class: name_errors.nil? ? "" : "has-error" }
          %label.control-label Enter a name for your plan.

          = f.text_field :name, placeholder: "Plan name", class: "form-control"

          - if !name_errors.nil?
            %label.control-label= "Plan name #{name_errors.join(' and ')}"


        = render partial: "/dropzone/single_file_upload", locals: { submit_selector: "#plan-submit", document: @plan.document || @document }


      .footer
        .buttons
          %button#plan-submit.button.button-blue{ type: "submit" }
            = @plan.new_record? ? "Create" : "Save"

          - if request.format == 'modal'
            %a.button.close-modal Cancel
          - else
            %a.button{ href: job_tab_path(@plan.job_id, @plan.tab) } Cancel

