.section
  .container
    .row
      .col-md-12
        %h2 Share Links

    .row
      .col-md-6
        %p
          - if current_user.can? :create, current_user.new_share_link
            = link_to "Create Share Link", new_share_link_path, class: "button button-green"

    .row
      .col-md-12
        .table-responsive
          %table.table.table-hover
            %thead
              %th Name
              %th # Jobs
              %th Link
              %th.text-right Controls

            %tbody
              - @share_links.each do |share_link|
                %tr
                  %td= link_to share_link.name, share_link_path(share_link)
                  %td= share_link.permissions.job_permissions.count
                  %td= share_link.login_url
                  %td
                    %ul.controls.pull-right.unstyled
                      - if current_user.can? :read, share_link
                        %li= link_to "View Permissions", share_link_path(share_link)
                      - if current_user.can? :update, share_link
                        %li
                          %a.open-modal{ href: "#", data: { "modal-url": edit_share_link_path(share_link) } } Edit
                      - if current_user.can? :destroy, share_link
                        %li
                          %a.open-modal{ href: "#", data: { "modal-url": should_delete_share_link_path(share_link) } } Delete
